<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProjectCarbon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ProjectCarbon.Properties.Settings>
            <setting name="StartUpWindows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartUpMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartUpCapture" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProtocolFilterType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PacketListBackgroundColor" serializeAs="String">
                <value>Window</value>
            </setting>
            <setting name="PacketListTextColor" serializeAs="String">
                <value>WindowText</value>
            </setting>
            <setting name="PacketDisplayFontColor" serializeAs="String">
                <value>WindowText</value>
            </setting>
            <setting name="PacketDisplayBackgroundColor" serializeAs="String">
                <value>Window</value>
            </setting>
            <setting name="PacketDisplayFontFace" serializeAs="String">
                <value>Courier New, 9.75pt, style=Bold</value>
            </setting>
            <setting name="AutoScrollPacketList" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToolbarVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StatusBarVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PacketListVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PacketDisplayVisible" serializeAs="String">
                <value>True</value>
            </setting>
        </ProjectCarbon.Properties.Settings>
    </userSettings>
</configuration>